# Documentation
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM
ColumnLimit: 100

---
Language: Cpp

# Disabling formatting on a piece of code
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#disabling-formatting-on-a-piece-of-code
# int formatted_code;
# // clang-format off
#     void    unformatted_code  ;
# // clang-format on
# void formatted_code_again;

AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveShortCaseStatements:
  Enabled: true

AlignEscapedNewlines: Left

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

IndentCaseLabels: true

InsertNewlineAtEOF: true

LineEnding: LF

PointerAlignment: Left

SpacesBeforeTrailingComments: 2
